<header class="navbar header mt-1 mb-3 p-0">
  <a class="navbar-brand p-0 align-self-start d-flex justify-content-start">
    <img class="logo" src="assets/hypertube2.png" alt="Hypertube" (click)="onHome()">
  </a>
  <app-header-buttons (signIn)="onSignIn()" (signUp)="onSignUp()" (logout)="onLogout()" (profile)="onSetting()"
                      [state]="state"></app-header-buttons>
</header>
