@import "src/styles"

.header
  min-width: 100%
  max-height: 9%
  display: inline-flex
  flex-wrap: nowrap
  align-items: center

  .logo
    width: 20%
    @media screen and (max-width: 799px)
      width: 100%
    height: auto

  .logo:hover
    cursor: pointer
