$light: #F5F7F7
$gray-900: #212529

.padding
  padding-bottom: 2%

.input-bg-black
  background-color: $gray-900
  color: $light
  &:focus
    background-color: $gray-900
    color: $light

.cursor-pointer
  cursor: pointer
