<div *ngIf="isAuthorized" class="row padding">
  <div class="col-md-8">
    <div class="card bg-dark text-center">
      <h5 class="card-title text-light">{{movie.title | uppercase}}</h5>
      <video id="vid" muted="muted" controls preload="auto" src="{{movieUrl}}">
        <track *ngIf="hasEnSubtitles" kind="subtitles" [src]=enSub srclang="en"
               label="English" default>
        <track *ngIf="hasFrSubtitles" kind="subtitles" [src]=frSub srclang="fr"
               label="French">
      </video>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card border-0 bg-dark mb-2">
      <div class="row g-0">
        <div class="col-md-4 pt-2 ps-2 align-content-center">
          <img class="img-fluid rounded-start text-light text-center cover" src="{{movie.cover}}" alt="{{movie.title}}">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h6 class="card-title text-light"><b>{{'MOVIE.TITLE' | translate}}</b>: {{movie.title}}</h6>
            <p class="card-text text-light mb-1"><b>{{'MOVIE.YEAR' | translate}}</b>: {{movie.year}}</p>
            <p class="card-text text-light mb-1"><b>{{'MOVIE.DIRECTOR' | translate}}</b>: {{movie.OMDbData.Director}}
            </p>
            <p class="card-text text-light mb-1"><b>{{'MOVIE.IMDB' | translate}}</b>: {{movie.IMDbRate}}/10</p>
            <p class="card-text text-light mb-1"><b>Genres</b>: {{movie.genres | arrayToString}}</p>
            <p class="card-text text-light mb-1"><b>{{'MOVIE.CAST' | translate}}</b>: {{movie.OMDbData.Actors}}</p>
            <p class="card-text text-light mb-1"><b>{{'MOVIE.RUNTIME' | translate}}</b>: {{movie.OMDbData.Runtime}}</p>
            <p class="card-text text-light mb-1"><b>{{'MOVIE.PRODUCER' | translate}}</b>: {{movie.OMDbData.Production}}
            </p>
            <p class="card-text text-light mb-1"><b>{{'MOVIE.PLOT' | translate}}</b>: {{movie.OMDbData.Plot}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <hr class="bg-primary border-1 border-primary">
    <h5 class="h5">{{'MOVIE.COMMENTS' | translate}}</h5>

    <ng-container *ngFor="let comment of comments | async" class="text-light">
      <p class="fw-bold mb-1 cursor-pointer" (click)="onProfile(comment.userId)">{{comment.username | titlecase}}</p>
      <div class="d-flex flex-column border border-primary rounded bg-dark text-light p-2 mb-1">
        <p class="text-light mb-1 overflow-auto"> {{comment.content}}</p>
        <small class="text-secondary align-self-end">{{comment.createdAt | date}}</small>
      </div>
    </ng-container>
    <ng-container *ngFor="let comment of userComments" class="text-light">
      <p class="fw-bold mb-1 cursor-pointer" (click)="onProfile(comment.userId)">{{comment.username | titlecase}}</p>
      <div class="d-flex flex-column border border-primary rounded bg-dark text-light p-2 mb-1">
        <p class="text-light mb-1 overflow-auto"> {{comment.content}}</p>
        <small class="text-secondary align-self-end">{{'MOVIE.NOW' | translate}}</small>
      </div>
    </ng-container>

    <form [formGroup]="commentForm" (ngSubmit)="sendComment()">
      <div class="d-inline-flex mt-2 w-100">
        <input type="text" class="form-control input-bg-black border-secondary w-50 me-2" formControlName="inputComment"
               maxlength="241" id="inputComment" name="inputComment">
        <button type="submit" class="btn btn-outline-secondary me-2"
                [disabled]="commentForm.invalid">{{'MOVIE.COMMENT' | translate}}</button>
        <small class="form-text text-danger w-25"
               *ngIf="inputComment?.invalid && !inputComment.errors.required">
          {{'MOVIE.ERR-COMMENT' | translate}}</small>
      </div>
    </form>
  </div>
</div>



