<div class="d-flex flex-column justify-content-center w-25 mx-auto">
  <div class="d-flex flex-column justify-content-center align-items-stretch border border-primary rounded p-3">
    <h2 class="text-center">{{'SIGN-IN.TITLE' | translate}}</h2>
    <hr>

    <form [formGroup]="signInForm" (ngSubmit)="submitSignInForm()">
      <div class="mb-3">
        <label for="username" class="form-label">{{'SIGN-IN.USERNAME' | translate}}</label>
        <input type="text" class="form-control input-bg-black" id="username"
               formControlName="username" placeholder="{{'SIGN-IN.USERNAME' | translate}}">
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">{{'SIGN-IN.PWD' | translate}}</label>
        <input type="password" class="form-control input-bg-black" id="password"
               formControlName="password" placeholder="{{'SIGN-IN.PWD' | translate}}">
      </div>

      <button type="submit" class="btn btn-outline-primary me-2 mb-2">{{'SIGN-IN.SUBMIT' | translate}}</button>
      <button type="button" class="btn btn-outline-secondary btn-sm mb-2"
              (click)="onResetPassword()">{{'SIGN-IN.FORGOTTEN-PWD' | translate}}</button>

      <div class="d-flex flex-column justify-content-start align-items-start">
        <button type="button" class="btn">
          <img class="img-fluid logo" alt="42 &quot;G&quot; Logo"
               src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/42_Logo.svg/1200px-42_Logo.svg.png"/>
          <a [href]="oauthFtLink" class="ms-2 link-light">{{'SIGN-IN.42' | translate}}</a>
        </button>
        <button type="button" class="btn">
          <img class="img-fluid logo" alt="github &quot;G&quot; Logo"
               src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/600px-Octicons-mark-github.svg.png"/>
          <a [href]="oauthGhLink" class="ms-2 link-light">{{'SIGN-IN.GITHUB' | translate}}</a>
        </button>
      </div>
    </form>
  </div>
</div>
