<button class="btn btn-primary m-3" (click)="displayFilters()"
        xmlns="http://www.w3.org/1999/html">{{'FILTERS.SHOW' | translate}}</button>
<div class="d-flex m-3 align-items-center align-content-center" *ngIf="filtersDisplayed">
  <div class="dropdown me-5">
    <div class="btn-group show">
      <button class="btn btn-outline-primary dropdown-toggle me-2" (click)="displaySortCat()"
              type="button"
              aria-haspopup="true" aria-expanded="true">{{'FILTERS.SORT' | translate}}</button>

      <div class="dropdown-menu input-bg-black" [class.show]="sortByDropdown"
           style="transform: translate3d(0px, 38px, 0px);">
        <a class="dropdown-item text-primary" (click)="sortSubject('rating')">{{'FILTERS.SORT-RATING' | translate}}</a>
        <a class="dropdown-item text-primary" (click)="sortSubject('title')">{{'FILTERS.SORT-TITLE' | translate}}</a>
        <a class="dropdown-item text-primary" (click)="sortSubject('year')">{{'FILTERS.SORT-YEAR' | translate}}</a>
      </div>
    </div>

    <div class="btn-group">
      <button class="btn btn-outline-primary dropdown-toggle me-2" (click)="displayOrder()"
              type="button"
              aria-haspopup="true" aria-expanded="true">{{'FILTERS.ORDER' | translate}}
      </button>

      <div class="dropdown-menu input-bg-black" [class.show]="orderDropdown"
           style="transform: translate3d(0px, 38px, 0px);">
        <a class="dropdown-item text-primary" (click)="sortOrder('asc')">{{'FILTERS.ORDER-ASC' | translate}}</a>
        <a class="dropdown-item text-primary" (click)="sortOrder('desc')">{{'FILTERS.ORDER-DESC' | translate}}</a>
      </div>
    </div>

    <div class="btn-group">
      <button class="btn btn-outline-primary dropdown-toggle me-2" (click)="displayType()"
              type="button"
              aria-haspopup="true" aria-expanded="true">{{'FILTERS.GENRE' | translate}}
      </button>

      <div class="dropdown-menu input-bg-black" [class.show]="genreDropdown"
           style="transform: translate3d(0px, 38px, 0px);" (change)="setGenreFilter($event)">
        <div class="dropdown-item text-primary"><label class="radio">
          <input class="me-1" type="radio" name="radio" value="">{{'FILTERS.GENRE-ALL' | translate}}</label></div>
        <div class="dropdown-item text-primary"><label class="radio">
          <input class="me-1" type="radio" name="radio" value="Action">{{'FILTERS.ACTION' | translate}}</label></div>
        <div class="dropdown-item text-primary"><label class="radio">
          <input class="me-1" type="radio" name="radio" value="Animation">{{'FILTERS.ANIMATION' | translate}}</label>
        </div>
        <div class="dropdown-item text-primary"><label class="radio">
          <input class="me-1" type="radio" name="radio" value="Comedy">{{'FILTERS.COMEDY' | translate}}</label></div>
        <div class="dropdown-item text-primary"><label class="radio">
          <input class="me-1" type="radio" name="radio" value="Drama">{{'FILTERS.DRAMA' | translate}}</label></div>
        <div class="dropdown-item text-primary"><label class="radio">
          <input class="me-1" type="radio" name="radio" value="Fantasy">{{'FILTERS.FANTASY' | translate}}</label></div>
        <div class="dropdown-item text-primary"><label class="radio">
          <input class="me-1" type="radio" name="radio" value="Horror">{{'FILTERS.HORROR' | translate}}</label></div>
        <div class="dropdown-item text-primary"><label class="radio">
          <input class="me-1" type="radio" name="radio" value="Romance">{{'FILTERS.ROMANCE' | translate}}</label></div>
        <div class="dropdown-item text-primary"><label class="radio">
          <input class="me-1" type="radio" name="radio" value="Sci-Fi">{{'FILTERS.SCI-FI' | translate}}</label></div>
        <div class="dropdown-item text-primary"><label class="radio">
          <input class="me-1" type="radio" name="radio" value="Thriller">{{'FILTERS.THRILLER' | translate}}</label>
        </div>
      </div>
    </div>
  </div>

  <div class="d-inline-flex me-4">
    <h6 class="mt-2 fw-bolder">{{'FILTERS.SORT-YEAR' | translate}}</h6>
    <div>
      <input type="number" class="form-control-sm w-auto mt-1 mx-2 input-bg-black" min="1900" max="2021"
             (change)="setFrom($event)" placeholder="{{'FILTERS.FROM' | translate}}">
      <input type="number" class="form-control-sm w-auto mt-1 mx-2 input-bg-black" min="1900" max="2021"
             (change)="setTo($event)" placeholder="{{'FILTERS.TO' | translate}}">
    </div>
  </div>
</div>
