<div class="d-flex flex-column update-form">
  <div class="d-flex flex-column justify-content-center align-items-stretch border border-primary rounded p-3">
    <h2 class="text-center">{{'UPDATE-PWD.TITLE' | translate}}</h2>
    <hr>
    <form [formGroup]="updatePwdForm" (ngSubmit)="submitUpdatePwdForm()">
      <div class="mb-3">
        <input class="form-control input-bg-black"
               [class.border-success]="password?.valid"
               [class.border-danger]="password?.invalid && (password?.touched || password?.dirty)"
               type="password" formControlName="password" id="password" name="password"
               placeholder="{{'SIGN-UP.PWD' | translate}}">
        <small class="form-text text-muted" *ngIf="password?.errors?.required && password?.touched">
          {{'SIGN-UP.ERR-EMPTY' | translate}}
        </small>
        <small class="form-text text-muted"
               *ngIf="password?.invalid && !password?.errors?.required && (password?.dirty)">
          {{'SIGN-UP.ERR-PWD-FORMAT' | translate}}
        </small>
      </div>

      <div class="mb-3">
        <input class="form-control input-bg-black"
               [class.border-success]="confirmPassword?.valid && password?.valid && !updatePwdForm.errors?.missMatch"
               [class.border-danger]="(confirmPassword?.invalid || updatePwdForm.errors?.missMatch) && (confirmPassword?.touched || confirmPassword?.dirty)"
               type="password" formControlName="confirmPassword" id="confirmPassword" name="confirmPassword"
               placeholder="{{'SIGN-UP.CONFIRM-PWD' | translate}}">
        <small class="form-text text-muted" *ngIf="confirmPassword?.errors?.required && confirmPassword?.touched">
          {{'SIGN-UP.ERR-PWD-EMPTY' | translate}}
        </small>
        <small class="form-text text-muted"
               *ngIf="updatePwdForm.errors?.missMatch && password?.valid && confirmPassword?.dirty">
          {{'SIGN-UP.ERR-PWD-DIFF' | translate}}
        </small>
      </div>

      <button type="submit" class="btn btn-outline-primary me-2"
              [class.is-light]="updatePwdForm?.invalid"
              [disabled]="updatePwdForm?.invalid">{{'SIGN-UP.SUBMIT' | translate}}
      </button>

    </form>
  </div>
</div>
