<div class="content overflow-auto">
  <app-home *ngIf="isHome()" (signIn)="setSignIn()"
            [state]="state" (library)="setLibrary()"></app-home>
  <app-sign-in-form class="signin-form" *ngIf="isSignIn()"
                    (bannerEvent)="displayBanner($event)"
                    (SuccessEvent)="authSuccess()"
                    (resetPwdEvent)="displayResetPwd()">
  </app-sign-in-form>
  <app-signup-form class="signup-form" *ngIf="isSignUp()"
                   (bannerEvent)="displayBanner($event)">
  </app-signup-form>
  <app-reset-password class="reset-pwd-form" *ngIf="isResetPassword()"
                      (bannerEvent)="displayBanner($event)">
  </app-reset-password>
  <app-profile class="user-profile" *ngIf="isUserProfile()"
               [profileId]="userProfileId"
               (backHome)="setHome()">
  </app-profile>
  <app-update-profile class="update-profile" *ngIf="isUpdateProfile()"
                      (bannerEvent)="displayBanner($event)" (unauthorizedAccess)="setUnauthorizedAccess()">
  </app-update-profile>
  <app-library class="library" *ngIf="isLibrary()"
               (movie)="setMovie($event)">
  </app-library>
  <app-movie class="m-4" *ngIf="isMovie()"
             [movie]="movie"
             (bannerEvent)="displayBanner($event)"
             (unauthorizedAccess)="setUnauthorizedAccess()"
             (profile)="setProfile($event)">
  </app-movie>
</div>
