.content
  display: flex
  flex-direction: column
  min-height: 83vh
  max-height: 83vh

  .signup-form
    margin: auto
    width: 98.5%

  .signin-form
    margin: auto
    width: 98.5%

  .reset-pwd-form
    margin-top: 15%
    width: 100%

  .user-profile
    margin-top: 1.5rem
    width: 40%
    @media screen and (max-width: 799px)
      width: 100%

  .update-profile
    width: 100%
    margin: auto

  .library
    width: 100%
    margin: auto
