<div class="d-flex flex-column">
  <app-filters *ngIf="!isLoading"
               (sortOrderEvent)="setSortOrder($event)" (genreFilterEvent)="filterBy($event)"
               (sortSubjectEvent)="sortBy($event)" (YearFromEvent)="setFromYear($event)"
               (YearToEvent)="setToYear($event)">
  </app-filters>

  <div class="m-3 d-inline-flex">
    <div class="d-flex flex-nowrap align-items-center w-auto">
      <input class="form-control me-2 input-bg-black" [disabled]="isLoading"
             type="text" (keyup.enter)="submitResearch()"
             placeholder="{{'LIBRARY.SEARCH-INPUT' | translate}}" [(ngModel)]="titleSearch" aria-label="Search">
      <button *ngIf="!loadingSearch" class="btn btn-secondary my-2 my-sm-0" [class.disabled]="isLoading"
              type="submit"
              (click)="submitResearch()">{{'LIBRARY.SEARCH' | translate}}</button>
      <button *ngIf="loadingSearch" class="btn btn-secondary my-2 my-sm-0" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      </button>
    </div>
  </div>
</div>

<div *ngIf="loadingLibrary" class="d-flex justify-content-center">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div class="row p-4 mw-100">
  <ng-container *ngFor="let movie of moviesList;">
    <div class="col-6 col-lg-2" *ngIf="isFilterGenre(movie.genres) && isFilterYear(movie.year)">
      <div class="card bg-dark cursor-pointer" (click)="setMovie(movie)">
        <img class="card-img-top text-light text-center cover" src="{{movie.cover}}" alt="{{movie.title}}">
        <div class="card-img-overlay">
          <span *ngIf="isWatched(movie.IMDbId)" class="badge badge-blue">{{'LIBRARY.WATCHED' | translate}}</span>
        </div>
        <div class="card-body content">
          <h6 class="category text-light fw-bold">{{movie.title | uppercase}}</h6>
          <p class="card-description text-secondary mb-1">{{movie.year}}</p>
          <p class="card-description text-secondary mb-1">IMDb: {{movie.IMDbRate}}
          </p>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<div class="d-flex flex-column flex-wrap justify-content-center align-items-center">
  <div *ngIf="loadingMore" class="spinner-border text-secondary mb-3" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <button class="btn btn-outline-secondary" [class.disabled]="isLoading"
          (click)="OnBottomPage()">{{'LIBRARY.MORE' | translate}}</button>
</div>
