$light: #F5F7F7
$gray-900: #212529

.cursor-pointer
  cursor: pointer

.cover
  flex: 70%
  min-height: 100%

.content
  flex: 25%

.badge-blue
  background-color: #70C1D9
  color: $light

.input-bg-black
  background-color: $gray-900
  color: $light
  &:focus
    background-color: $gray-900
    color: $light

