<h2 *ngIf="displayEmailMessage" class="text-center mb-3">{{'OAUTH_GITHUB.SUCCESS' | translate}}</h2>

<div class="d-flex flex-column oauth-form">
  <form *ngIf="displayForm" class="signUpForm border border-primary rounded m-3 p-4" [formGroup]="oAuthForm"
        (ngSubmit)="submitOauthForm()">
    <h2 class="text-center mb-3">{{'OAUTH_GITHUB.TITLE' | translate}}</h2>
    <p class="text-center">{{'OAUTH_GITHUB.INTRO' | translate}}</p>
    <hr>

    <div class="form-group mb-3 row">
      <label for="firstname" class="col-sm-2 col-form-label">{{'SIGN-UP.FIRSTNAME' | translate}}</label>
      <div class="col-sm-10">
        <input class="form-control input-bg-black" [class.border-success]="firstname?.valid"
               [class.border-danger]="firstname?.invalid && firstname?.touched"
               type="text" formControlName="firstname" id="firstname" name="firstname"
               placeholder="{{'SIGN-UP.FIRSTNAME' | translate}}">
        <small class="form-text text-muted" *ngIf="firstname?.errors?.required && (firstname?.touched)">
          {{'SIGN-UP.ERR-EMPTY' | translate}}
        </small>
        <small class="form-text text-muted" *ngIf="firstname?.errors?.pattern && (firstname?.dirty)">
          {{'SIGN-UP.ERR-FN-FORMAT' | translate}}
        </small>
        <small class="form-text text-muted" *ngIf="firstname?.errors?.maxlength && (firstname?.dirty)">
          {{'SIGN-UP.ERR-NAME-LENGTH' | translate}}
        </small>
      </div>
    </div>

    <div class="form-group row mb-3">
      <label for="lastname" class="col-sm-2 col-form-label">{{'SIGN-UP.LASTNAME' | translate}}</label>
      <div class="col-sm-10">
        <input class="form-control input-bg-black" [class.border-success]="lastname?.valid"
               [class.border-danger]="lastname?.invalid && lastname?.touched"
               type="text" formControlName="lastname" id="lastname" name="lastname"
               placeholder="{{'SIGN-UP.LASTNAME' | translate}}">
        <small class="form-text text-muted" *ngIf="lastname?.errors?.required && (lastname?.touched)">
          {{'SIGN-UP.ERR-EMPTY' | translate}}
        </small>
        <small class="form-text text-muted" *ngIf="lastname?.errors?.pattern && (lastname?.dirty)">
          {{'SIGN-UP.ERR-LN-FORMAT' | translate}}
        </small>
        <small class="form-text text-muted" *ngIf="lastname?.errors?.maxlength && (lastname?.dirty)">
          {{'SIGN-UP.ERR-NAME-LENGTH' | translate}}
        </small>
      </div>
    </div>

    <div class="form-group row mb-3">
      <label for="email" class="col-sm-2 col-form-label">{{'SIGN-UP.EMAIL' | translate}}</label>
      <div class="col-sm-10">
        <input class="form-control input-bg-black" [class.border-success]="email?.valid"
               [class.border-danger]="(email?.invalid && email?.touched) || email?.errors?.emailExists"
               type="text" formControlName="email" id="email" name="email"
               placeholder="{{'SIGN-UP.EMAIL' | translate}}">
        <small class="form-text text-muted" *ngIf="email?.errors?.required && (email?.touched)">
          {{'SIGN-UP.ERR-EMPTY' | translate}}
        </small>
        <small class="form-text text-muted" *ngIf="email?.errors?.emailExists">
          {{'SIGN-UP.ERR-EMAIL-USED' | translate}}
        </small>
        <small class="form-text text-muted" *ngIf="email?.errors?.email && (email?.dirty)">
          {{'SIGN-UP.ERR-EMAIL-FORMAT' | translate}}
        </small>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-outline-primary"
                [class.is-light]="oAuthForm?.invalid"
                [disabled]="oAuthForm?.invalid">
          {{'SIGN-UP.SUBMIT' | translate}}
        </button>
      </div>
    </div>

  </form>

</div>
