<div class="d-flex justify-content-center reset-form">
  <div class="d-flex flex-column justify-content-center align-items-stretch border border-primary rounded p-3">
    <h2 class="text-center">{{'RESET-PWD.TITLE' | translate}}</h2>
    <hr>
    <p>{{'RESET-PWD.INTRO' | translate}}</p>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="submitResetPwdForm()">
      <div class="mb-3">
        <input type="text" class="form-control input-bg-black" id="email"
               formControlName="email" placeholder="{{'SIGN-UP.EMAIL' | translate}}">
      </div>
      <button type="submit" class="btn btn-outline-primary me-2 "
              [class.is-light]="resetPasswordForm?.invalid"
              [disabled]="resetPasswordForm?.invalid">{{'SIGN-UP.SUBMIT' | translate}}
      </button>
    </form>
  </div>
</div>
