<div *ngIf="banner.display" class="alert text-center alert-dismissible" role="alert"
     [class.alert-success]="banner.success" [class.alert-danger]="!banner.success">
  {{banner.message | translate}}
  <button type="button" class="close btn-close" data-dismiss="alert" aria-label="Close"
          (click)="banner.display=false">
  </button>
</div>
