<div class="d-flex flex-column m-3">
  <div class="profile d-flex align-items-center border border-primary rounded p-3">
    <div class="picture">
      <img class="img-fluid h-auto image" id="picture" [src]="picture" alt="avatar">
    </div>
    <div class="user-info ps-3">
      <p class="mb-2"><b>{{'SIGN-UP.USERNAME' | translate}}</b>: {{username | titlecase}} </p>
      <p class="mb-2"><b>{{'SIGN-UP.FIRSTNAME' | translate}}</b>: {{firstname | titlecase}}</p>
      <p class="mb-2"><b>{{'SIGN-UP.LASTNAME' | translate}}</b>: {{lastname | titlecase}}</p>
    </div>
  </div>
</div>
<button class="btn btn-outline-light m-3" (click)="onBackHome()">BACK HOME</button>
