@import src/styles

.header-buttons
  display: flex
  justify-content: flex-end
  align-items: center

  .btn-blue
    background-color: $blue
    border-color: $blue

  .btn-blue:hover
    background-color: #81cadf

  .button-header
    min-width: 10%
    @media screen and (max-width: 799px)
