<div class="header-buttons">
  <button class="btn btn-primary btn-sm me-2"
          (click)="onChangeLanguage()">{{'HEADER.CHANGE_LANGUAGE' | translate}}</button>
  <button *ngIf="!isUserConnected()" class="btn btn-blue btn-sm me-2 button-header"
          (click)="onSignIn()">{{'HEADER.BUTTON1' | translate}}</button>
  <button *ngIf="!isUserConnected()" class="btn btn-light btn-sm me-2 button-header"
          (click)="onSignUp()">{{'HEADER.BUTTON2'| translate}}</button>
  <button *ngIf="isUserConnected()" class="btn btn-blue btn-sm me-2 button-header"
          (click)="onProfile()">{{'HEADER.BUTTON3' | translate}}</button>
  <button *ngIf="isUserConnected()" class="btn btn-light btn-sm me-2 button-header"
          (click)="onLogout()">{{'HEADER.BUTTON4' | translate}}</button>
</div>

