
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap')

/* COLOR PALETTE */
$dark: #343537
$secondary: #6B7378
$primary: #0AA4E7
$blue: #70C1D9
$light: #F5F7F7

$danger: #F44336
$success: #3BAD7C

@import '~bootstrap'

body
  background-color: $dark
  color: $light
  display: flex
  min-height: 80vh
  height: 80vh
  margin: 0
  padding: 0
  font-family: Raleway, serif

  app-root
    width: 100%

.input-bg-black
  background-color: $gray-900
  color: $light
  &:focus
    background-color: $gray-900
    color: $light
