<div class="main">
  <app-header
    (signIn)="onSignIn()"
    (signUp)="onSignUp()"
    (logout)="onLogout()"
    (settings)="onSettings()"
    (home)="onHome()"
    [state]="state">
  </app-header>
  <app-banner [banner]="banner"></app-banner>
  <app-content class="content" *ngIf="path==''"
               [state]="state" (setState)="setState($event)"
               (setBanner)="banner = $event">

  </app-content>
  <app-oauth42 class="layout-page" *ngIf="path=='Oauth42'" (bannerEvent)="banner = $event"></app-oauth42>
  <app-oauth-gh *ngIf="path=='OauthGh' " (bannerEvent)="banner = $event"></app-oauth-gh>
  <app-confirm-account class="layout-page" *ngIf="path=='confirm-account'"></app-confirm-account>
  <app-update-password class="layout-page" *ngIf="path=='update-password'"
                       (bannerEvent)="banner = $event"></app-update-password>
  <app-footer class="d-flex justify-content-center align-items-center m-1"></app-footer>
</div>
