<div class="d-flex flex-column announcement">
<div class="card text-center m-3 bg-dark p-4 border border-primary rounded">
  <div class="body">
    <h3 class="card-title">{{'CONFIRM-ACCOUNT.TITLE' | translate}}</h3>
    <p class="card-text">{{'CONFIRM-ACCOUNT.CONTENT' | translate}}</p>
  </div>
</div>
</div>
