<form class="generic-form border border-primary rounded" [formGroup]="signUpForm" (ngSubmit)="submitUserForm()">
  <h2 class="text-center mb-3">{{'SIGN-UP.TITLE' | translate}}</h2>

  <div class="form-group mb-3 row">
    <label for="firstname" class="col-sm-2 col-form-label">{{'SIGN-UP.FIRSTNAME' | translate}}</label>
    <div class="col-sm-10">
      <input class="form-control input-bg-black" [class.border-success]="firstname?.valid"
             [class.border-danger]="firstname?.invalid && firstname?.touched"
             type="text" formControlName="firstname" id="firstname" name="firstname"
             placeholder="{{'SIGN-UP.FIRSTNAME' | translate}}">
      <small class="form-text text-muted" *ngIf="firstname?.errors?.required && (firstname?.touched)">
        {{'SIGN-UP.ERR-EMPTY' | translate}}
      </small>
      <small class="form-text text-muted" *ngIf="firstname?.errors?.pattern && (firstname?.dirty)">
        {{'SIGN-UP.ERR-FN-FORMAT' | translate}}
      </small>
      <small class="form-text text-muted" *ngIf="firstname?.errors?.maxlength && (firstname?.dirty)">
        {{'SIGN-UP.ERR-NAME-LENGTH' | translate}}
      </small>
    </div>
  </div>

  <div class="form-group row mb-3">
    <label for="lastname" class="col-sm-2 col-form-label">{{'SIGN-UP.LASTNAME' | translate}}</label>
    <div class="col-sm-10">
      <input class="form-control input-bg-black" [class.border-success]="lastname?.valid"
             [class.border-danger]="lastname?.invalid && lastname?.touched"
             type="text" formControlName="lastname" id="lastname" name="lastname"
             placeholder="{{'SIGN-UP.LASTNAME' | translate}}">
      <small class="form-text text-muted" *ngIf="lastname?.errors?.required && (lastname?.touched)">
        {{'SIGN-UP.ERR-EMPTY' | translate}}
      </small>
      <small class="form-text text-muted" *ngIf="lastname?.errors?.pattern && (lastname?.dirty)">
        {{'SIGN-UP.ERR-LN-FORMAT' | translate}}
      </small>
      <small class="form-text text-muted" *ngIf="lastname?.errors?.maxlength && (lastname?.dirty)">
        {{'SIGN-UP.ERR-NAME-LENGTH' | translate}}
      </small>
    </div>
  </div>

  <div class="form-group row mb-3">
    <label for="email" class="col-sm-2 col-form-label">{{'SIGN-UP.EMAIL' | translate}}</label>
    <div class="col-sm-10">
      <input class="form-control input-bg-black" [class.border-success]="email?.valid"
             [class.border-danger]="(email?.invalid && email?.touched) || email?.errors?.emailExists"
             type="text" formControlName="email" id="email" name="email" placeholder="{{'SIGN-UP.EMAIL' | translate}}">
      <small class="form-text text-muted" *ngIf="email?.errors?.required && (email?.touched)">
        {{'SIGN-UP.ERR-EMPTY' | translate}}
      </small>
      <small class="form-text text-muted" *ngIf="email?.errors?.emailExists">
        {{'SIGN-UP.ERR-EMAIL-USED' | translate}}
      </small>
      <small class="form-text text-muted" *ngIf="email?.errors?.email && (email?.dirty)">
        {{'SIGN-UP.ERR-EMAIL-FORMAT' | translate}}
      </small>
    </div>
  </div>

  <div class="form-group row mb-3">
    <label for="username" class="col-sm-2 col-form-label">{{'SIGN-UP.USERNAME' | translate}}</label>
    <div class="col-sm-10">
      <input class="form-control input-bg-black" [class.border-success]="username?.valid"
             [class.border-danger]="(username?.invalid && username?.touched) || username?.errors?.userExists"
             type="text" formControlName="username" id="username" name="username"
             placeholder="{{'SIGN-UP.USERNAME' | translate}}">
      <small class="form-text text-muted" *ngIf="username?.errors?.required && username?.touched">
        {{'SIGN-UP.ERR-EMPTY' | translate}}
      </small>
      <small class="form-text text-muted" *ngIf="username?.errors?.userExists">
        {{'SIGN-UP.ERR-UN-USED' | translate}}
      </small>
      <small class="form-text text-muted" *ngIf="username?.errors?.pattern && (username?.dirty)">
        {{'SIGN-UP.ERR-UN-FORMAT' | translate}}
      </small>
      <small class="form-text text-muted" *ngIf="username?.errors?.maxlength && (username?.dirty)">
        {{'SIGN-UP.ERR-NAME-LENGTH' | translate}}
      </small>
    </div>
  </div>

  <div class="form-group row mb-3">
    <label for="password" class="col-sm-2 col-form-label">{{'SIGN-UP.PWD' | translate}}</label>
    <div class="col-sm-10">
      <input class="form-control input-bg-black" [class.border-success]="password?.valid"
             [class.border-danger]="password?.invalid && (password?.touched || password?.dirty)"
             type="password" formControlName="password" id="password" name="password"
             placeholder="{{'SIGN-UP.PWD' | translate}}">
      <small class="form-text text-muted" *ngIf="password?.errors?.required && password?.touched">
        {{'SIGN-UP.ERR-EMPTY' | translate}}
      </small>
      <small class="form-text text-muted" *ngIf="password?.invalid && !password?.errors?.required && (password?.dirty)">
        {{'SIGN-UP.ERR-PWD-FORMAT' | translate}}
      </small>
    </div>
  </div>

  <div class="form-group row mb-3">
    <label for="confirmPassword" class="col-sm-2 col-form-label">{{'SIGN-UP.CONFIRM-PWD' | translate}}</label>
    <div class="col-sm-10">
      <input class="form-control input-bg-black"
             [class.border-success]="confirmPassword?.valid && password?.valid && !signUpForm.errors?.missMatch"
             [class.border-danger]="(confirmPassword?.invalid || signUpForm.errors?.missMatch) && (confirmPassword?.touched || confirmPassword?.dirty)"
             type="password" formControlName="confirmPassword" id="confirmPassword" name="confirmPassword"
             placeholder="{{'SIGN-UP.CONFIRM-PWD' | translate}}">
      <small class="form-text text-muted" *ngIf="confirmPassword?.errors?.required && confirmPassword?.touched">
        {{'SIGN-UP.ERR-PWD-EMPTY' | translate}}
      </small>
      <small class="form-text text-muted"
             *ngIf="signUpForm.errors?.missMatch && password?.valid && confirmPassword?.dirty">
        {{'SIGN-UP.ERR-PWD-DIFF' | translate}}
      </small>
    </div>
  </div>

  <div class="form-group row mb-3" *ngIf="picture.length < 1">
    <label class="col-sm-2 col-form-label" for="file">{{'SIGN-UP.FILE' | translate}}</label>
    <div class="col-sm-10">
      <input type="file" class="" formControlName="fileUpload" id="file" accept="image/*"
             name="file" (change)="insertPic($event)"/>
      <small *ngIf="fileUpload.errors?.invalidType" class="text-danger">{{'SIGN-UP.FILE-FORMAT' | translate}}</small>
      <small *ngIf=invalidSize class="text-danger">{{'SIGN-UP.FILE-SIZE' | translate}}</small>
    </div>
  </div>

  <div class="form-group row picture mb-3" *ngIf="picture.length > 0">
    <label class="col-sm-2 col-form-label text-danger" for="picture" (click)="deletePic()">Delete picture</label>
    <div class="col-sm-4 flex">
      <img class="img-fluid h-auto image" id="picture" *ngIf="picture != ''" [src]="picture" alt="avatar">
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-outline-primary"
              [class.is-light]="signUpForm?.invalid || picture.length < 1"
              [disabled]="signUpForm?.invalid || picture.length < 1 || formLocker">
        {{'SIGN-UP.SUBMIT' | translate}}
      </button>
    </div>
  </div>

  <div class="d-flex justify-content-sm-start align-items-center">
    <button type="button" class="btn" [disabled]="formLocker">
      <img class="img-fluid logo" alt="42 &quot;G&quot; Logo"
           src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/42_Logo.svg/1200px-42_Logo.svg.png"/>
      <a [href]="oauthFtLink" class="ms-2 link-light">{{'SIGN-UP.42' | translate}}</a>
    </button>
    <button type="button" class="btn" [disabled]="formLocker">
      <img class="img-fluid logo" alt="github &quot;G&quot; Logo"
           src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/600px-Octicons-mark-github.svg.png"/>
      <a [href]="oauthGhLink" class="ms-2 link-light">{{'SIGN-UP.GITHUB' | translate}}</a>
    </button>
  </div>

</form>

