@import "src/styles"

.generic-form
  margin: 3rem
  padding: 1.5rem

.image
  max-width: 100%

.input-bg-black
  background-color: $gray-900
  color: $light
  &:focus
    background-color: $gray-900
    color: $light

.logo
  width: 8%
